In [1]:
import pandas as pd
import numpy as np

In [4]:
metadata = pd.read_csv("../data/movies_metadata.csv")

/home/marrechea/miniconda3/envs/movies/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [7]:
metadata.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [9]:
C = metadata['vote_average'].mean()
C

5.618207215134185

In [10]:
m = metadata['vote_count'].quantile(0.90)
m

160.0

In [13]:
q_movies = metadata.copy().loc[metadata['vote_count'] >= m]
q_movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
5,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,1995-12-15,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0
8,False,NaN,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,1995-12-22,64350171.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0

In [14]:
def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    # Calculation based on the IMDB formula
    return (v/(v+m) * R) + (m/(m+v) * C)

In [19]:
q_movies['score'] = q_movies.apply(weighted_rating, axis= 1)
q_movies.sort_values(by= 'score', ascending= False, inplace= True)
q_movies[['title', 'vote_count', 'vote_average', 'score']].head(50).reset_index()

,index,title,vote_count,vote_average,score
0,314,The Shawshank Redemption,8358.0,8.5,8.445869
1,834,The Godfather,6024.0,8.5,8.425439
2,10309,Dilwale Dulhania Le Jayenge,661.0,9.1,8.421453
3,12481,The Dark Knight,12269.0,8.3,8.265477
4,2843,Fight Club,9678.0,8.3,8.256385
5,292,Pulp Fiction,8670.0,8.3,8.251406
6,522,Schindler's List,4436.0,8.3,8.206639
7,23673,Whiplash,4376.0,8.3,8.205404
8,5481,Spirited Away,3968.0,8.3,8.196055
9,2211,Life Is Beautiful,3643.0,8.3,8.187171
10,1178,The Godfather: Part II,3418.0,8.3,8.180076
11,1152,One Flew Over the Cuckoo's Nest,3001.0,8.3,8.164256
12,351,Forrest Gump,8147.0,8.2,8.150272
13,1154,The Empire Strikes Back,5998.0,8.2,8.132919
14,1176,Psycho,2405.0,8.3,8.132715
15,18465,The Intouchables,5410.0,8.2,8.125837
16,40251,Your Name.,1030.0,8.5,8.112532
17,289,Leon: The Professional,4293.0,8.2,8.107234
18,3030,The Green Mile,4166.0,8.2,8.104511
19,1170,GoodFellas,3211.0,8.2,8.077459
20,2216,American History X,3120.0,8.2,8.074059
21,15480,Inception,14075.0,8.1,8.072105
22,22879,Interstellar,11187.0,8.1,8.065005
23,7000,The Lord of the Rings: The Return of the King,8226.0,8.1,8.052649
24,256,Star Wars,6778.0,8.1,8.042766
25,46,Se7en,5915.0,8.1,8.034636
26,1161,12 Angry Men,2130.0,8.2,8.019613
27,586,The Silence of the Lambs,4549.0,8.1,8.015675
28,9698,Howl's Moving Castle,2049.0,8.2,8.012998
29,2884,Princess Mononoke,2041.0,8.2,8.012319
30,4099,Memento,4168.0,8.1,8.008252
31,1213,The Shining,3890.0,8.1,8.001954
32,1057,Reservoir Dogs,3821.0,8.1,8.000254
33,5878,City of God,1852.0,8.2,7.994688
34,49,The Usual Suspects,3334.0,8.1,7.986352
35,32144,Room,2838.0,8.1,7.967549
36,1201,Dead Poets Society,2786.0,8.1,7.965212
37,1184,Once Upon a Time in America,1104.0,8.3,7.960533
38,4863,The Lord of the Rings: The Fellowship of the Ring,8892.0,8.0,7.957900
39,109,Taxi Driver,2632.0,8.1,7.957777
40,877,Rear Window,1531.0,8.2,7.955714
41,5814,The Lord of the Rings: The Two Towers,7641.0,8.0,7.951149
42,1159,"The Good, the Bad and the Ugly",2371.0,8.1,7.943111
43,1225,Back to the Future,6239.0,8.0,7.940446
44,24860,The Imitation Game,5895.0,8.0,7.937062
45,359,The Lion King,5520.0,8.0,7.932907
46,22841,The Grand Budapest Hotel,4644.0,8.0,7.920673
47,11354,The Prestige,4510.0,8.0,7.918397
48,5857,The Pianist,1927.0,8.1,7.909733
49,1163,A Clockwork Orange,3432.0,8.0,7.893907